 
  
  <div class="help">
    <div class="booking">
       <form> 
           <br>
           <h1>Make a booking</h1>
           <br>
           <br>
           <input type="First Name" placeholder="First Name">
           <br>
           <input type="Last Name" placeholder="Last Name">
           <br>
           <input type="Email" placeholder="Email">
           <br>
           <br>
           <input type="submit" value="Make booking">
           <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </form>
     </div>
   </div>