.mb-0{
  text-align: center;
  color: black;
  background-color: darkslategrey;
  font-weight: 800;
}

.card-header{
  background-color: darkslategray;
  margin: -1px;
}

.card-body{
  text-align: center;
    border: inset;
    color: black;
    font-size: larger;
    font-stretch: semi-expanded;
    display: block;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    align-self: center;
    text-align: -webkit-match-parent;
    padding-left: 80px;
    padding-right: 80px;
    border: solid;
}