.example-card-two
{
    max-width: fit-content;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    font-weight: bolder;
    margin-top: 15px;
    border: groove;
    background-color: black;
}

.mat-flat-button.mat-primary
{
    border-radius: 18px;
}

.mat-card
{
    width: 520px;
    margin-bottom: 15px;
}
.mat-card-image
{
    width: calc(100% + 33px);
    margin: 0 -16px 16px -16px;

}
.img
{
    background-color: darkslategrey;
    margin-top: -15px;
    margin-bottom: -15px;
}
.search{
    text-align:center;
    font-weight: 700;
}