<div class="conatiner">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label>Enter name:</label>
                    <input type="text"  name="name" class="form-control" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label>Enter Last Name:</label>
                    <input type="text"  name="name" class="form-control" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label>Enter Email:</label>
                    <input type="text"  name="name" class="form-control" autocomplete="off" />
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>