<mat-toolbar color="primary">
  <mat-toolbar-row>
   <!-- <button mat-icon-button>
    </button> -->
    <h1>Driver Booking</h1>
    <div>
    

      <a mat-button [routerLink]="'/locations'">Locations </a>
      <a mat-button [routerLink]="'/instructors'">Instructors </a>
      <a mat-button [routerLink]="'/booking'"> Make a Booking </a>
      <a mat-button [routerLink]="'/register'">Make an Account</a>
      <a mat-button [routerLink]="'/bookings'">Manage Your Bookings</a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>