<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
    </button>
    <h1>Driver Booking</h1>
    <div>
    

      <a mat-button [routerLink]="'/locations'">Locations </a>
      <a mat-button [routerLink]="'/instructors'">Instructors </a>
      <a mat-button [routerLink]="'/booking'"> Booking's </a>
      <a mat-button [routerLink]="'/bookings'">Your Bookings</a>
      <a mat-button [routerLink]="'/register'">Register</a>
      <a mat-button [routerLink]="'/Login'">Login</a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>