table { 
    margin-top: 50px;
    width: 100%;
    background-color: slategrey;
    opacity: 85%;
    border: outset;
  }
  
  .section {
    height: 100%;
    
  }

  .mkbookBtn{
    background-color: green;
    color: whitesmoke;
    align-items: center;
  }
  .button{
    padding-left: 40%;
  }
  .tableText {
    color: white;
    font-size: small;
    font-style: initial;
    font-stretch: unset;
    font-weight: 600;
    
  }


  ._ngcontent-wkv-c6 {
    height: 54%;
  }
  mat-elevation-z8{
    height: 60%;
  }
  .upBtn{
    background-color: green;
    color: whitesmoke;
  }

.th{
  color: gainsboro;
  font-size: medium;
  font-style: oblique;
}
