<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>

<div class= "img">
  <mat-card class="example-card-two" *ngFor="let bookingup of id">
    <mat-card-header>
      <mat-card-subtitle></mat-card-subtitle>
      <h1>Update Your Booking</h1>
    </mat-card-header>
  
   
    <form class="update-form" (submit)="UpdateBooking(updateForm)" #updateForm="ngForm">
     <mat-form-field>
    <input matInput type="date" name="bookingDate" ngModel="{{bookingup.bookingDate | date: dd/MM/yyyy }}" placeholder="Your Prevoius date {{bookingup.bookingDate | date:MM//dd/yyyy}}" #bookingDate="ngModel"/>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Change the Start time</mat-label>
          <mat-select [(value)]="start" ngModel="{{bookingup.startTime}}" name="startTime" class="select">
            <mat-option></mat-option>
            <mat-option value="9:00">9:00</mat-option>
            <mat-option value="10:00">10:00</mat-option>
            <mat-option value="11:00">11:00</mat-option>
            <mat-option value="12:00">12:00</mat-option>
            <mat-option value="14:00">14:00</mat-option>
            <mat-option value="15:00">15:00</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Change the End time</mat-label>
              <mat-select [(value)]="end" ngModel="{{bookingup.endTime}}" name="endTime" class="select">
                <mat-option></mat-option>
                <mat-option value="10:00">10:00</mat-option>
                <mat-option value="11:00">11:00</mat-option>
                <mat-option value="12:00">12:00</mat-option>
                <mat-option value="13:00">13:00</mat-option>
                <mat-option value="14:00">14:00</mat-option>
                <mat-option value="15:00">15:00</mat-option>
                <mat-option value="16:00">16:00</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <br>

            <button mat-raised-button color="accent" [disabled]="!updateForm.form.valid">Update booking</button>
     </form>
  